<div class="row g-5 g-xxl-8">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title fw-bolder text-dark">
          Logs
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm text-secondary btn-primary border border-dashed  btn-flex flex-center btn-custom">
            <app-keenicon name="plus" class="fs-3 text-secondary"></app-keenicon>
            <span class="text-secondary fw-bold ms-2 fs-6">New Record</span>
          </a>
        </div>
      </div>

      <div class="circles">

        <app-lists-widget5></app-lists-widget5>
         
      </div>
    <!-- <app-feeds-widget3 class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200"></app-feeds-widget3> -->
    <!-- <app-feeds-widget4 class="card mb-5 mb-xxl-8"></app-feeds-widget4>
    <app-feeds-widget5 class="card mb-5 mb-xxl-8"></app-feeds-widget5>
    <app-feeds-widget6 class="card mb-5 mb-xxl-8"></app-feeds-widget6> -->
  </div>

</div>