<div class="card w-100 card-flush h-lg-50">
  <!--begin::Header-->
  <div class="card-header pt-5">
    <!--begin::Title-->
    <h3 class="card-title text-gray-800 fw-bold">Highlights</h3>
    <!--end::Title-->

    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <!-- begin::Menu-->
      <button class="btn btn-icon btn-color-gray-400 btn-active-color-primary justify-content-end"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
        <app-keenicon name="dots-square" class="fs-1 text-gray300 me-n1"></app-keenicon>
      </button> 
      <app-dropdown-menu2></app-dropdown-menu2> 
      <!--end::Menu -->
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-2">
    <ng-container>
      <!--begin::Item-->
      <div class="d-flex flex-stack border-bottom border-gray-300 border-bottom-dashed py-3">
        <a href="#" class="text-primary fw-semibold fs-6 me-2">Avg. Client Rating</a>
        <span class="d-flex align-items-center">
          <app-keenicon name="arrow-up-right" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
          <span class="text-dark fw-bold">7.8</span>
          <span class="text-gray-500 fw-bold mx-1">/</span>
          <span class="text-gray-500 fw-bold">10</span>
        </span>
      </div>

      <!--begin::Item-->
      <div class="d-flex flex-stack border-bottom border-gray-300 border-bottom-dashed py-3">
        <a href="#" class="text-primary fw-semibold fs-6 me-2">Avg. Quotes</a>
        <span class="d-flex align-items-center">
          <app-keenicon name="arrow-down-right" class="fs-5 text-warning opacity-50 me-1 fw-bolder"></app-keenicon>
          <span class="text-dark fw-bold">730</span>
        </span>
      </div>
      <!--begin::Item-->
      <div class="d-flex flex-stack py-3">
        <a href="#" class="text-primary fw-semibold fs-6 me-2">Avg. Agent Earnings</a>
        <span class="d-flex align-items-center">
          <app-keenicon name="arrow-up-right" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
          <span class="text-dark fw-bold">$2.309</span>
        </span>
      </div>
      <!--end::Item-->
      
      <!-- <ng-container *ngIf="i < (rows.length - 1)">
        <div class="separator separator-dashed my-3"></div>
      </ng-container> -->
    </ng-container>
  </div>
  <!--end::Body-->
</div>
