<!-- begin::Header -->
<!-- <div class="card-header border-0 pt-5">
   <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Recent Orders</span>
    <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span>
  </h3>
  <div class="card-toolbar">
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu2></app-dropdown-menu2>
  </div>
</div> -->

<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body p-0">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px pb-6">Type</th>
          <th class="min-w-140px pb-6">Count</th>
          <th class="min-w-120px pb-6">Rate</th>
          <th class="min-w-120px pb-6">Total</th>
          <th class="min-w-120px pb-6">Actions</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->

      <tbody>
        
        <tr>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              Preliminary Engineering
            </a>
          </td>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              300
            </a>
          </td>

          <td>
            <a href="#" class="text-gray-800 fw-bolder text-hover-primary d-block mb-1 fs-6">
            0.124 Euros
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">Word</span>
          </td>

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              $120
            </a>
          </td>

          <td >
            <a
              href="#"
              class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
            >
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
            </a>
          </td>

        </tr>

        <tr>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              Glossary Localization
            </a>
          </td>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              300
            </a>
          </td>

          <td>
            <a href="#" class="text-gray-800 fw-bolder text-hover-primary d-block mb-1 fs-6">
            0.124 Euros
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">Hours</span>
          </td>

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              $120
            </a>
          </td>

          <td >
            <a
              href="#"
              class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
            >
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
            </a>
          </td>

        </tr>
        
        <tr>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              Final Engineering
            </a>
          </td>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              300
            </a>
          </td>

          <td>
            <a href="#" class="text-gray-800 fw-bolder text-hover-primary d-block mb-1 fs-6">
            0.124 Euros
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">Character</span>
          </td>

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              $120
            </a>
          </td>

          <td >
            <a
              href="#"
              class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
            >
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
            </a>
          </td>

        </tr>

        <tr>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              Graphics Localization
            </a>
          </td>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              300
            </a>
          </td>

          <td>
            <a href="#" class="text-gray-800 fw-bolder text-hover-primary d-block mb-1 fs-6">
            0.124 Euros
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">Word</span>
          </td>

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              $120
            </a>
          </td>

          <td>
            <a
              href="#"
              class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
            >
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
            </a>
          </td>

        </tr>

        <tr>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              Preliminary Engineering
            </a>
          </td>
         
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              300
            </a>
          </td>

          <td>
            <a href="#" class="text-gray-800 fw-bolder text-hover-primary d-block mb-1 fs-6">
            0.124 Euros
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">Word</span>
          </td>

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              $120
            </a>
          </td>

         

          <td>
            <a
              href="#"
              class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
            >
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
            </a>
          </td>

        </tr>

        <tr>
          <div class="py-6">
            <a href="#" class="btn btn-sm text-dark btn-light btn-flex flex-center btn-custom">
              <app-keenicon name="plus-square" class="fs-3 text-dark"></app-keenicon>
              <span class="text-dark fw-bold ms-2 fs-6">Add Task</span>
            </a>
          </div>
        </tr>

        <div class="seperator"></div>
        
      </tbody>

      <!-- end::Table body -->
    </table>
    <!-- end::Table -->


    <div class="d-flex flex-end gap-6 pt-5">
      <span class="text-muted fw-bold fs-5">Total</span>
      <span class="text-dark fw-bold fs-5">$1,150</span>
    </div>
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
