<!-- <div class="card-header border-0" [ngClass]="'bg-' + chartColor">
  <h3 class="card-title fw-bolder text-white">Sales Progress</h3>

  <div class="card-toolbar">
    <button
      type="button"
      class="
        btn btn-sm btn-icon btn-color-white btn-active-white
        border-0
        me-n3
      "
      [ngClass]="'btn-active-color-' + chartColor"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
  </div>
</div> -->
<!-- end::Header  -->

<!-- begin::Body  -->
<div class="card">
   <!--begin::Title-->
   <div class="card-title px-8 pt-6 pb-2 d-flex flex-column">
    <!--begin::Info-->
    <div class="d-flex align-items-center">
      <!--begin::Currency-->
      <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
      <!--end::Currency-->

      <!--begin::Amount-->
      <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">2,420</span>
      <!--end::Amount-->

      <!--begin::Badge-->
      <span class="badge badge-light-success fs-base">
        <app-keenicon name="arrow-up" class="fs-5 text-success ms-n1"></app-keenicon>
        2.6%
      </span>
      <!--end::Badge-->
    </div>
    <!--end::Info-->

    <!--begin::Subtitle-->
    <span class="text-gray-400 pt-1 fw-semibold fs-6">Average Weekly Sales </span>
    <!--end::Subtitle-->
  </div>
  <!--end::Title-->
  <div class="card-body p-0">
    <!-- begin::Chart  -->
    <div
      #chartRef
      class="mixed-widget-12-chart card-rounded"
      [ngClass]="'bg-' + chartColor"
      [style.height]="chartHeight"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [states]="chartOptions.states"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
    <!-- end::Chart  -->
  
    <!-- begin::Stats  -->
    <!-- <div class="card-rounded bg-body mt-n10 position-relative card-px py-15">
      <div class="row g-0 mb-7">
        <div class="col mx-5">
          <div class="fs-6 text-gray-400">Avarage Sale</div>
          <div class="fs-2 fw-bolder text-gray-800">$650</div>
        </div>
  
        <div class="col mx-5">
          <div class="fs-6 text-gray-400">Comissions</div>
          <div class="fs-2 fw-bolder text-gray-800">$29,500</div>
        </div>
      </div>
  
      <div class="row g-0">
        <div class="col mx-5">
          <div class="fs-6 text-gray-400">Revenue</div>
          <div class="fs-2 fw-bolder text-gray-800">$55,000</div>
        </div>
  
        <div class="col mx-5">
          <div class="fs-6 text-gray-400">Expenses</div>
          <div class="fs-2 fw-bolder text-gray-800">$1,130,600</div>
        </div>
      </div>
    </div> -->
  </div>
</div>
