<!-- begin::Body -->


<div class="card-header border-0 pt-5">
  <h3 class="card-title fw-bolder text-dark">
    Quote Info
  </h3>
  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
    title="Click to edit a user">
    <a href="#" class="btn btn-sm text-dark btn-light border border-dashed  btn-flex flex-center btn-custom">
      <app-keenicon name="pencil" class="fs-3 text-dark"></app-keenicon>
      <span class="text-dark fw-bold ms-2 fs-6">Edit</span>
    </a>
  </div>
</div>

<div class="card-body pt-4">
  <div class="mb-5 ">

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-4">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Creation Date</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800">10/19/2023
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <div class="fw-bold fs-5 text-gray-500 ">Estimated Start Date</div>
          </div>
          <div class="col-md-6">
            <div class="fs-5 fw-bold text-gray-800">-
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row mb-4">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Date Sent</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800">Multimedia Localisation
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Estimate Due Date</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800"> 10/23/2023
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-dashed my-8"></div>

  <!-- begin::Post -->

  <div class="">

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-4">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Client PO</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800">10/19/2023
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <div class="fw-bold fs-5 text-gray-500 ">Probability Rating</div>
          </div>
          <div class="col-md-6">
            <div class="fs-5 fw-bold text-gray-800">-
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row mb-4">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Quote Result</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800">Waiting
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-5">
            <div class="fw-bold fs-5 text-gray-500 ">Quote Preparer</div>
          </div>
          <div class="col-md-7">
            <div class="fs-5 fw-bold text-gray-800"> Tamer Mohsen
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>