<div class="card h-100">

  

  <div class="card-body bg-white p-0">
    <div class="card pt-4 card-rounded-bottom" style="background: linear-gradient(102deg, #E2BA7C 0%, #CB9F5A 100%);">
      <div class="d-flex px-8 border-0">
        <!-- <h3 class="card-title fw-bolder text-white">Sales Statistics</h3> -->
            <div class="card-toolbar ms-auto">
            <!-- begin::Menu-->
            <button class="btn btn-icon btn-color-gray-400 btn-active-color-primary justify-content-end"
              data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
              <app-keenicon name="dots-square" class="fs-1 text-white"></app-keenicon>
            </button> 
            <app-dropdown-menu2></app-dropdown-menu2> 
            <!--end::Menu -->
          </div>
      </div>
  
      <div class="text px-8 h-200px card-rounded-bottom" 
      style=
      "background-image: url('./assets/media/patterns/man630.png');
      background-size: cover;">
        <h3 class="fw-bolder fs-1 text-white">Quotes</h3>
        <div class="fs-5 fw-bold text-white">There are 4 new quote(s)</div>  
      </div>
    </div>
  
    <!-- end::Chart -->

  </div>

  <div class="px-8 pb-3 position-relative" style="margin-top: -8.5rem;">
      <!-- begin::Row -->
      <div class="row g-5">
        <div class="col-6">
        <div class="bg-light px-8 py-4 rounded-2 mb-5">
          <app-keenicon name="dollar" class="fs-2x text-gray-800 d-block mt-2 mb-7"></app-keenicon>
          <a href="#" class="fw-bold fs-2tx text-gray-700"> 46 </a>
          <div class="fs-6 fw-bold text-gray-400 text-nowrap">New Quotes</div>
        </div>
      </div>

      <div class="col-6">
        <div class="bg-light px-8 py-4 rounded-2 mb-5">
          <app-keenicon name="flask" class="fs-2x text-gray-800 d-block mt-2 mb-7"></app-keenicon>
          <a href="#" class="fw-bold fs-2tx text-gray-700"> 37 </a>
          <div class="fs-6 fw-bold text-gray-400 text-nowrap">Submitted</div>
        </div>
      </div>
      </div>
      <!-- end::Row -->

      <!-- begin::Row -->
      <div class="row g-5">
        <!-- begin::Col -->
        <div class="col-6">
        <div class="bg-light px-8 py-4 rounded-2 mb-5">
          <app-keenicon name="timer" class="fs-2x text-gray-800 d-block mt-2 mb-7"></app-keenicon>
          <a href="#" class="fw-bold fs-2tx text-gray-700"> 822 </a>
          <div class="fs-6 fw-bold text-gray-400 text-nowrap">Pending</div>
        </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-6">
        <div class="bg-light px-8 py-4 rounded-2 mb-5">
          <app-keenicon name="cup" class="fs-2x text-gray-800 d-block mt-2 mb-7"></app-keenicon>
          <a href="#" class="fw-bold fs-2tx text-gray-700"> 4,7 </a>
          <div class="fs-6 fw-bold text-gray-400 text-nowrap">Completed</div>
        </div>
        </div>
        <!-- end::Col -->
      </div>
      <!-- end::Row -->
  </div>


</div>



    <!-- begin::Chart -->
    <!-- <div
  
      #chartRef
      class="mixed-widget-2-chart card-rounded-bottom"
      
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [states]="chartOptions.states"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>  -->
  