<!-- begin::Header-->
<!-- <div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
    <span class="fw-bolder mb-2 text-dark">Activities</span>
    <span class="text-muted fw-bold fs-7">890,344 Sales</span>
  </h3>
  <div class="card-toolbar">
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <app-keenicon name="category" class="fs-2"></app-keenicon>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
  </div>
</div> -->

<!-- end::Header-->
<!-- begin::Body-->
<div class="card-body pt-5">
  <!-- begin::Timeline-->
  <div class="timeline-label">

    <div class="timeline-item">
      <div class="timeline-label text-muted fw-bolder fs-7">30 Apr 2023, 8:45 pm</div>

      <div class="timeline-badge">
        <i class="fa fa-genderless text-gray-300 fs-1"></i>
      </div>

      <div class="fw-mormal timeline-content ps-3">
        <div class="d-flex align-items-center gap-4 mb-2">
          <span class="badge badge-light-primary fs-8">Automatically Added</span>
          <span class="fw-bold fs-8">Adham Sabry</span>
        </div>
        <p class="fw-bold fs-5">This contact has been created</p>
      </div>

    </div>

    <div class="timeline-item">
      <div class="timeline-label text-muted fw-bolder fs-7">28 Apr 2023, 6:15 pm</div>

      <div class="timeline-badge">
        <i class="fa fa-genderless text-gray-300 fs-1"></i>
      </div>

      <div class="fw-mormal timeline-content ps-3">
        <div class="d-flex align-items-center gap-4 mb-2">
          <span class="badge badge-light-primary fs-8">Automatically Added</span>
          <span class="fw-bold fs-8">Adham Sabry</span>
        </div>
        <p class="fw-bold fs-5">This contact has been created</p>
      </div>

    </div>

    <div class="timeline-item">
      <div class="timeline-label text-muted fw-bolder fs-7">15 Apr 2023, 9:35 pm</div>

      <div class="timeline-badge">
        <i class="fa fa-genderless text-gray-300 fs-1"></i>
      </div>

      <div class="fw-mormal timeline-content ps-3">
        <div class="d-flex align-items-center gap-4 mb-2">
          <span class="badge badge-light-info fs-8">Manual Added</span>
          <span class="fw-bold fs-8">Mohamed Salah</span>
        </div>
        <p class="fw-bold fs-5">Outlines keep you honest. And keep structure</p>
      </div>

    </div>

    <div class="timeline-item">
      <div class="timeline-label text-muted fw-bolder fs-7">30 Apr 2023, 8:45 pm</div>

      <div class="timeline-badge">
        <i class="fa fa-genderless text-gray-300 fs-1"></i>
      </div>

      <div class="fw-mormal timeline-content ps-3">
        <div class="d-flex align-items-center gap-4 mb-2">
          <span class="badge badge-light-primary fs-8">Automatically Added</span>
          <span class="fw-bold fs-8">Adham Sabry</span>
        </div>
        <p class="fw-bold fs-5">This contact has been created</p>
      </div>

    </div>




  </div>
  <!-- end::Timeline-->
</div>
<!-- end: Card Body-->
