<div class="d-flex justify-content-between mb-5">

  <div class="d-flex align-items-center gap-2 gap-lg-3">

    <button
    class="btn btn-sm bg-white btn-icon btn-bg-light btn-active-color-primary"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="top-end"
  >
  <app-keenicon name="arrow-left" class="fs-3 text-dark"></app-keenicon>

  </button>

  <h1 class="page-heading text-dark fw-bold fs-3 my-0">Quote</h1>

  <div>
    <select class="form-select border-0 form-select-lg fw-bold" name="feeType">
        <option value=""># 1231-001</option>
        <option value="1">one</option>
        <option value="2">two</option>
    </select>
  </div>


  </div>

  <div class="d-flex align-items-center gap-2 gap-lg-3">
    <!--begin::Secondary button-->
  <a href="#" class="btn btn-sm btn-flex btn-primary fw-bold btn-flex flex-center btn-custom btn-active-light-dark">
    <app-keenicon name="disk" class="fs-3 text-secondary"></app-keenicon>
    <span class="text-secondary fw-bold ms-2 fs-6">Save</span>

  </a>
<!--end::Secondary button-->

<!--begin::Primary button-->
  <a href="#" class="btn btn-sm btn-flex btn-white fw-bold btn-flex flex-center btn-custom btn-active-light-dark"
    data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">
    <app-keenicon name="plus-square" class="fs-3 text-dark"></app-keenicon>

    <span class="text-dark fw-bold ms-2 fs-6">Save as Change Order</span>
  </a>
<!--end::Primary button-->

<div class="me-0">
  <button
    class="
      btn btn-sm bg-white btn-icon btn-bg-light btn-active-color-primary
    "
    data-kt-menu-trigger="click"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="top-end"
  >
    <i class="bi bi-three-dots-vertical fs-3"></i>
  </button>
  <app-dropdown-menu1></app-dropdown-menu1>
</div>

  </div>
  
</div>




<div class="mb-5 mb-xl-10">
  <div class="p-0">


    <div class="d-flex rounded bg-white px-5 overflow-auto h-55px">
      <ul class="
      nav nav-stretch nav-line-tabs nav-line-tabs-2x
      border-transparent
      fs-5
      fw-bolder
      flex-nowrap
    ">
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/quotes/quote/project" routerLinkActive="active">
            Project
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/quotes/quote/languages" routerLinkActive="active">
            Languages
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/vendors/vendor/logs" routerLinkActive="active">
            File Analysis
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/vendors/vendor/logs" routerLinkActive="active">
            Schedule
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/vendors/vendor/logs" routerLinkActive="active">
            Requirements & Deliverables
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/vendors/vendor/logs" routerLinkActive="active">
            Disclaimers
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
