<div class="row g-5 g-xxl-8">

  <div class="col-xl-8">

    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title fw-bolder text-dark">
          Contact Info
        </h3>
        <!-- <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm text-dark btn-light border border-dashed  btn-flex flex-center btn-custom">
            <app-keenicon name="pencil" class="fs-3 text-dark"></app-keenicon>
            <span class="text-dark fw-bold ms-2 fs-6">Edit</span>
          </a>
        </div> -->
      </div>

      <div class="card-body pt-4">
        <!-- begin::Header -->
        <div class="d-flex align-items-center mb-5">
          <!-- begin::User -->
          <div class="d-flex align-items-center flex-grow-1">


          </div>

        </div>


        <div class="row mb-8">

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">First Name</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Max Smith
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Title</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Business Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Mobile Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row ">
              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Skype ID</div>
              </div>
              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">MaxMax
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Last Name</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Max Smith
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Job</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Extension Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Fax Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">
              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">ID Number</div>
              </div>
              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800"> -
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="separator separator-dashed my-8"></div>


        <div class="row">

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Company</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">The Palm
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Address 1</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">State</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Postal Code</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">123321
                </div>
              </div>

            </div>

          </div>

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Country</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">USA
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Address 2</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">City</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>


          </div>

        </div>

        <div>

        </div>



        <!-- edit::Reply input -->
      </div>
    </div>


    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title fw-bolder text-dark">
          Account Manager Info
        </h3>
        <!-- <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm text-dark btn-light border border-dashed  btn-flex flex-center btn-custom">
            <app-keenicon name="pencil" class="fs-3 text-dark"></app-keenicon>
            <span class="text-dark fw-bold ms-2 fs-6">Edit</span>
          </a>
        </div> -->
      </div>

      <div class="card-body pt-4">
        <!-- begin::Header -->
        <div class="d-flex align-items-center mb-5">
          <!-- begin::User -->
          <div class="d-flex align-items-center flex-grow-1">


          </div>

        </div>


        <div class="row mb-8">

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">First Name</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Max Smith
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Title</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Business Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Mobile Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row ">
              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Skype ID</div>
              </div>
              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">MaxMax
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Last Name</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Max Smith
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Job</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Extension Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Fax Phone</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">
              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">ID Number</div>
              </div>
              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800"> -
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="separator separator-dashed my-8"></div>


        <div class="row">

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Company</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">The Palm
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Address 1</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">State</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Postal Code</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">123321
                </div>
              </div>

            </div>

          </div>

          <div class="col-md-6">

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Country</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">USA
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">Address 2</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">Keenthemes
                </div>
              </div>

            </div>

            <div class="row mb-4">

              <div class="col-md-5">
                <div class="fw-bold fs-6 text-gray-500 ">City</div>
              </div>

              <div class="col-md-7">
                <div class="fs-6 fw-bold text-gray-800">044 3276 454 935
                </div>
              </div>

            </div>


          </div>

        </div>

        <div>

        </div>



        <!-- edit::Reply input -->
      </div>
    </div>


    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title fw-bolder text-dark">
          Project Info
        </h3>
        <!-- <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm text-dark btn-light border border-dashed  btn-flex flex-center btn-custom">
            <app-keenicon name="pencil" class="fs-3 text-dark"></app-keenicon>
            <span class="text-dark fw-bold ms-2 fs-6">Edit</span>
          </a>
        </div> -->
      </div>

      <div class="separator separator-dashed my-6"></div>


      <div class="card-body pt-4">

        <div class="d-flex align-items-center mb-7">
          <!-- begin::User -->
          <div class="d-flex align-items-center flex-grow-1">

            <div class="d-flex flex-column">
              <div class="fw-bold fs-6 text-gray-500 mb-2">Title</div>

              <div class="d-flex align-items-center">
                <div class="fs-6 fw-bold text-gray-900">
                  Website localization from English into French and German
                </div>
              </div>
            </div>

            <!-- end::Info -->
          </div>

        </div>

        <div class="d-flex align-items-center mb-7">
          <!-- begin::User -->
          <div class="d-flex align-items-center flex-grow-1">

            <div class="d-flex flex-column">
              <div class="fw-bold fs-6 text-gray-500 mb-2">Type</div>

              <div class="d-flex align-items-center">
                <div class="fs-6 fw-bold text-gray-900">
                  Document
                </div>
              </div>
            </div>

            <!-- end::Info -->
          </div>

        </div>

        <div class="d-flex align-items-center mb-7">
          <!-- begin::User -->
          <div class="d-flex align-items-center flex-grow-1">

            <div class="d-flex flex-column">
              <div class="fw-bold fs-6 text-gray-500 mb-2">Description</div>

              <div class="d-flex align-items-center">
                <div class="fs-6 fw-bold text-gray-900">
                  Website localization from English into French and German Website localization from English into French
                  and German
                </div>
              </div>
            </div>

            <!-- end::Info -->
          </div>

        </div>



        <div class="separator separator-dashed my-6"></div>

        <!-- Inputs -->
        <div class="row g-5 g-xxl-8">

          <div class="col-lg-6">
            <label class=" col-form-label required fw-bold fs-6">First Name</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="Peter John"
              name="fName" />
          </div>

          <div class="col-lg-6">
            <label class=" col-form-label  fw-bold fs-6">Email</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="email@email.com"
              name="email" />
          </div>

          <div class="col-lg-4">
            <label class="col-form-label fw-bold fs-6">PM Fee</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="" name="pmFee" />
          </div>

          <div class="col-lg-4">
            <label class="col-form-label fw-bold fs-6">PM Fee Type</label>
            <select class="form-select  form-select-lg fw-bold" name="feeType">
              <option value="">Percentage</option>
              <option value="1">one</option>
              <option value="2">two</option>
            </select>
          </div>

          <div class="col-lg-4 align-self-end">
            <div class="form-check mb-4 form-check-solid">
              <input class="form-check-input bg-muted" type="checkbox" id="kt_settings_notification_email" value=""
                checked="" /><label class="form-check-label ps-2" for="kt_settings_notification_email">Apply PM Min
                Fee</label>
            </div>
          </div>

          <!-- row two -->

          <div class="col-lg-4">
            <label class="col-form-label fw-bold fs-6">Currency</label>
            <select class="form-select  form-select-lg fw-bold" name="currency">
              <option value="">USD</option>
              <option value="1">EGP</option>
              <option value="2">Euro</option>
            </select>
          </div>

          <div class="col-lg-4">
            <label class="col-form-label fw-bold fs-6">Conversion Rate</label>
            <input type="text" class=" form-control form-control-lg mb-3 mb-lg-0" placeholder="3.55" name="convRate" />
          </div>

          <div class="col-lg-4 align-self-end">
            <div class="form-check mb-4 form-check-solid">
              <input class="form-check-input bg-muted" type="checkbox" id="kt_settings_notification_email" value=""
                checked="" /><label class="form-check-label ps-2" for="kt_settings_notification_email">Included VAT
                (5%)</label>
            </div>
          </div>

          <!-- Last Input -->

          <div class="col-lg-6">
            <label class=" col-form-label  fw-bold fs-6">Purchase Order</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="1233342234"
              name="purchaseOrder" />
          </div>

        </div>





      </div>



    </div>

  </div>



  <div class="col-xl-4">

    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">

      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">
          Discounts
        </h3>

        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm text-secondary btn-primary btn-flex flex-center btn-custom">
            <app-keenicon name="plus" class="fs-3 text-secondary"></app-keenicon>
            <span class="text-secondary fw-bold ms-2 fs-6">Add</span>
          </a>
        </div>


      </div>

      <div class="px-10">
        <div class="separator separator-dashed mb-8"></div>
      </div>

      <div class="card-body pt-0">

        <div class="d-flex justify-content-between align-items-center w-100 mb-5">
          <p class="text-secondary fs-3 mb-0 fw-bold">#01</p>

          <a href="#" class="btn p-2 d-flex flex-center btn-white fw-bold btn-custom btn-active-light-dark">
            <app-keenicon name="trash" class="fs-2 text-danger"></app-keenicon>
          </a>

        </div>

        <div class="row g-5 g-xxl-8">

          <div class="col-lg-12">
            <label class=" col-form-label fw-bold fs-6">Description</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0"
              placeholder="This is the description of the %" name="description" />
          </div>

          <div class="col-lg-6">
            <label class="col-form-label fw-bold fs-6">Type</label>
            <select class="form-select form-select-lg fw-bold" name="currency">
              <option value="">Discount</option>
              <option value="1">EGP</option>
              <option value="2">Euro</option>
            </select>
          </div>

          <div class="col-lg-6">
            <label class="col-form-label fw-bold fs-6">Percentage %</label>
            <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="10%"
              name="percentage" />
          </div>

          <div class="col-lg-12">
            <div class="d-flex flex-end gap-5">
              <span class="text-muted fw-bold fs-5">Total</span>
              <span class="text-dark fw-bold fs-5">100$</span>
            </div>
          </div>

        </div>

      </div>



    </div>

    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">

      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">
          Languages Totals
        </h3>
      </div>


      <div class="card-body pt-0">

        <div class="d-flex justify-content-between py-2">
          <span class="text-muted fs-5 fw-bold">Language</span>
          <span class="text-muted fs-5 fw-bold">Total</span>
        </div>

        <div class="separator separator-dashed my-6"></div>

        <div class="d-flex justify-content-between py-2">
          <span class="text-dark fs-4 fw-bold">Language Independent</span>
          <span class="text-dark fs-4 fw-bold">1,250$</span>
        </div>

        <div class="separator separator-dashed my-6"></div>

        <div class="d-flex justify-content-between py-2">
          <span class="text-dark fs-4 fw-bold">English/Arabic</span>
          <span class="text-dark fs-4 fw-bold">2,391$</span>
        </div>

        <div class="separator separator-dashed my-6"></div>

        <div class="d-flex justify-content-between py-2">
          <span class="text-dark fs-4 fw-bold">English/German</span>
          <span class="text-dark fs-4 fw-bold">3,491$</span>
        </div>

        <div class="separator separator-dashed my-6"></div>

        <div class="d-flex justify-content-between py-2">
          <span class="text-dark fs-4 fw-bold">English/German</span>
          <span class="text-dark fs-4 fw-bold">1,391$</span>
        </div>

        <div class="separator separator-dashed my-6"></div>

        <div class="d-flex justify-content-between py-2">
          <span class="text-dark fs-4 fw-bold">English/German</span>
          <span class="text-dark fs-4 fw-bold">2,391$</span>
        </div>

        <div class="separator separator-dashed my-6"></div>



        <div class="d-flex flex-end gap-7 mb-6">
          <span class="text-muted d-block min-w-90px fw-bold fs-5">Subtotal</span>
          <span class="text-dark d-block min-w-50px fw-bold fs-5">1,250$</span>
        </div>

        <div class="d-flex flex-end gap-7 mb-6">
          <span class="text-muted d-block min-w-90px fw-bold fs-5">Discount</span>
          <span class="text-dark d-block min-w-50px fw-bold fs-5">100$</span>
        </div>

        <div class="d-flex flex-end gap-7">
          <span class="text-muted d-block min-w-90px fw-bold fs-5">Total</span>
          <span class="text-dark d-block min-w-50px fw-bold fs-3">1,150$</span>
        </div>

      </div>



    </div>

    <div class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200">

      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">
          Payments
        </h3>
      </div>

      <div class="px-10">
        <div class="separator separator-dashed mb-6"></div>
      </div>


      <div class="card-body pt-0">
        <div class="row g-5 g-xxl-8">


          <div class="col-lg-12">
            <div>
              <h3 class="card-title fw-bolder text-secondary">
                Initial
              </h3>

              <div class="row align-items-center">

                <div class="col-10 col-lg-6">
                  <label class="col-form-label fw-bold fs-6">Percentage %</label>
                  <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="10%"
                    name="percentage" />
                </div>

                <div class="col-2 col-lg-6">
                  <p class="text-dark fw-bold m-0 fs-5">Total</p>
                  <p class="text-dark fw-bold mb-0 mt-6 fs-4">100$</p>
                </div>

              </div>

            </div>
          </div>

          <div class="pt-10 px-5 mt-0">
            <div class="separator separator-dashed "></div>
          </div>

          <div class="col-lg-12">
            <div>
              <h3 class="card-title fw-bolder text-secondary">
                Milestone
              </h3>

              <div class="row align-items-center">

                <div class="col-10 col-lg-6">
                  <label class="col-form-label fw-bold fs-6">Percentage %</label>
                  <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="10%"
                    name="percentage" />
                </div>

                <div class="col-2 col-lg-6">
                  <p class="text-dark fw-bold m-0 fs-5">Total</p>
                  <p class="text-dark fw-bold mb-0 mt-6 fs-4">100$</p>
                </div>

              </div>

            </div>
          </div>

          <div class="pt-10 px-5 mt-0">
            <div class="separator separator-dashed "></div>
          </div>

          <div class="col-lg-12">
            <div>
              <h3 class="card-title fw-bolder text-secondary">
                Final
              </h3>

              <div class="row align-items-center">

                <div class="col-10 col-lg-6">
                  <label class="col-form-label fw-bold fs-6">Percentage %</label>
                  <input type="text" class=" form-control form-control-lg  mb-3 mb-lg-0" placeholder="10%"
                    name="percentage" />
                </div>

                <div class="col-2 col-lg-6">
                  <p class="text-dark fw-bold m-0 fs-5">Total</p>
                  <p class="text-dark fw-bold mb-0 mt-6 fs-4">100$</p>
                </div>

              </div>

            </div>
          </div>


        </div>
      </div>



    </div>

  </div>

</div>


<!-- <app-feeds-widget3 class="card mb-5 mb-xxl-8 card-box-shadow border border-gray-200"></app-feeds-widget3> -->
<!-- <app-feeds-widget4 class="card mb-5 mb-xxl-8"></app-feeds-widget4>
    <app-feeds-widget5 class="card mb-5 mb-xxl-8"></app-feeds-widget5>
    <app-feeds-widget6 class="card mb-5 mb-xxl-8"></app-feeds-widget6> -->