  <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="dollar" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">34</div>
            <div class="fs-6 fw-bold text-gray-400">New Quotes</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-success">
            <app-keenicon name="arrow-up" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">2.1%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="briefcase" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">432</div>
            <div class="fs-6 fw-bold text-gray-400 text-nowrap">Active Projects</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-success">
            <app-keenicon name="arrow-up" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">2.1%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="check-square" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">32</div>
            <div class="fs-6 fw-bold text-gray-400 text-nowrap">My Tasks</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-danger">
            <app-keenicon name="arrow-up" class="fs-5 text-danger me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">0.47%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="diamonds" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">89M</div>
            <div class="fs-6 fw-bold text-gray-400 text-nowrap">Projects Earning</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-success">
            <app-keenicon name="arrow-up" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">2.1%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="timer" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">235</div>
            <div class="fs-6 fw-bold text-gray-400 text-nowrap">Hours</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-danger">
            <app-keenicon name="arrow-up" class="fs-5 text-danger me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">0.647%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
      <div class="card card-flush">
  
        <div class="card-header flex-nowrap border-0 pt-9">
          <div class="card-title m-0">
              <app-keenicon name="percentage" class="fs-3tx text-gray-600"></app-keenicon>
          </div>
        </div>
        
        <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
          <div class="mb-9">
            <div class="fs-1 fw-bold">39%</div>
            <div class="fs-6 fw-bold text-gray-400 text-nowrap">KPI Achievement</div>
          </div>
          <div class="badge px-3 py-2 me-auto badge-light-success">
            <app-keenicon name="arrow-up" class="fs-5 text-success me-1 fw-bolder"></app-keenicon>
            <span class="fs-6">2.1%</span>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>


<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="My Active Projects" color="#304D4A"
      ></app-cards-widget20>

    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="12" description="Submitted Quotes"
      ></app-cards-widget7>
  </div>

  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>
    <app-lists-widget26 class="h-lg-50"></app-lists-widget26>
  </div>

  <!-- <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10> -->
  <div class="col-xxl-6 d-flex">

    <div class="card w-100 px-8 py-6">

      <div class="card-title mb-3">
          <div class="d-flex align-items-center mb-2">

            <span class="fs-3x fw-bold text-gray-800 me-2 lh-1 ls-n2">34</span>

            <span class="badge badge-light-success fs-base">
              <app-keenicon name="arrow-up" class="fs-5 text-success ms-n1"></app-keenicon>
              2,2%
            </span>
          </div>
          <span class="fs-6 fw-semibold text-gray-400">Active Tasks</span>
      </div>

      <!-- Works Hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee  -->

      <div class="d-flex flex-stack">
        
        <div class="item d-flex align-items-center">
          <span class="fs-7 fw-semibold me-2 text-gray-400">Type</span>
          <div>
            <select
              class="form-select border-0 py-0 ps-0 pe-9 fw-bold fs-7"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
            >
              <option></option>
              <option selected value="1">Show All</option>
              <option value="2">Pending</option>
              <option value="3">In Process</option>
              <option value="4">Rejected</option>
            </select>
          </div>
        </div>

        <div class="item d-flex align-items-center">
          <span class="fs-7 fw-semibold me-2 text-gray-400">Status</span>
          <div>
            <select
              class="form-select border-0 py-0 ps-0 pe-9 fw-bold fs-7"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
            >
              <option></option>
              <option selected value="1">Show All</option>
              <option value="2">Pending</option>
              <option value="3">In Process</option>
              <option value="4">Rejected</option>
            </select>
          </div>
        </div>

        <div class="item d-flex align-items-center">
          <span class="fs-7 fw-semibold me-2 text-gray-400">Budget</span>
          <div>
            <select
              class="form-select border-0 py-0 ps-0 pe-9 fw-bold fs-7"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
            >
              <option></option>
              <option selected value="1">Show All</option>
              <option value="2">Pending</option>
              <option value="3">In Process</option>
              <option value="4">Rejected</option>
            </select>
          </div>
        </div>

        <div class="filter-icon">
          <app-keenicon name="filter" class="fs-3"></app-keenicon>
        </div>

      </div>

      <!-- Works Hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee  -->



      <div class="separator separator-dashed my-3"></div>

      <div class="body pe-2 scroll-y" style="max-height: 400px;">

        
        <div class="d-flex align-items-center py-4 border-bottom border-gray-300 border-bottom-dashed">

          <!-- begin::Bullet -->
          <span class="bullet me-3 w-3px h-50px bullet-vertical h-40px bg-success"></span>
          <!-- end::Bullet -->

          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              Subject Matter Research
            </a>
            <span class="text-muted fw-bold d-block">#124545 | This is part of the project na..</span>
          </div>
          <!-- end::Description -->

          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <span class="text-dark me-4 fw-bolder">21 Dec 21 - 06 Jan 22</span>
            </div>

            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <app-keenicon name="arrow-right" class="fs-3"></app-keenicon>
            </a>

          </div>

        </div>

        <div class="d-flex align-items-center py-4 border-bottom border-gray-300 border-bottom-dashed">

          <!-- begin::Bullet -->
          <span class="bullet me-3 w-3px h-50px bullet-vertical h-40px bg-warning"></span>
          <!-- end::Bullet -->

          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              Subject Matter Research
            </a>
            <span class="text-muted fw-bold d-block">#124545 | This is part of the project na..</span>
          </div>
          <!-- end::Description -->

          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <span class="text-dark me-4 fw-bolder">21 Dec 21 - 06 Jan 22</span>
              <span class="text-warning fw-bold">Due Soon</span>
            </div>

            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <app-keenicon name="arrow-right" class="fs-3"></app-keenicon>
            </a>

          </div>

        </div>

        <div class="d-flex align-items-center py-4 border-bottom border-gray-300 border-bottom-dashed">

          <!-- begin::Bullet -->
          <span class="bullet me-3 w-3px h-50px bullet-vertical h-40px bg-danger"></span>
          <!-- end::Bullet -->

          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              Subject Matter Research
            </a>
            <span class="text-muted fw-bold d-block">#124545 | This is part of the project na..</span>
          </div>
          <!-- end::Description -->

          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <span class="text-dark me-4 fw-bolder">21 Dec 21 - 06 Jan 22</span>
              <span class="text-danger fw-bold">Due Soon</span>
            </div>

            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <app-keenicon name="arrow-right" class="fs-3"></app-keenicon>
            </a>

          </div>

        </div>

        <div class="d-flex align-items-center py-4">

          <!-- begin::Bullet -->
          <span class="bullet me-3 w-3px h-50px bullet-vertical h-40px bg-gray"></span>
          <!-- end::Bullet -->

          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              Subject Matter Research
            </a>
            <span class="text-muted fw-bold d-block">#124545 | This is part of the project na..</span>
          </div>
          <!-- end::Description -->

          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <span class="text-dark me-4 fw-bolder">21 Dec 21 - 06 Jan 22</span>
            </div>

            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <app-keenicon name="arrow-right" class="fs-3"></app-keenicon>
            </a>

          </div>

        </div>

      </div>

      <!-- ! End card -->
    </div>

    <!-- ! End col -->
  </div>

  <!-- ! End row -->
</div> 



<div class="row gx-5 gx-xl-10">
  <div class="col-xxl-4 mb-5 mb-xl-10">
    <app-mixed-widget2></app-mixed-widget2>
  </div>

  <div class="col-xxl-8 mb-5 mb-xl-10">
    <app-tables-widget7></app-tables-widget7>
  </div>
</div>


<div class="row gx-5 gx-xl-10">
  <div class="col-xxl-4 mb-5 mb-xl-10">
    <app-charts-widget3 class="card h-100 mb-xl-8"></app-charts-widget3>
  </div>

  <div class="col-xxl-8 mb-5 mb-xl-10">
    <app-tables-widget7></app-tables-widget7>
  </div>
</div>


<!-- <div class="row gx-5 gx-xl-10">
  <div class="col-xxl-4 mb-5 mb-xl-10">
    <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>
  </div>

  <div class="col-xxl-8 mb-5 mb-xl-10">
    <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>
  </div>
</div> -->

<!-- <div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div> -->

 <!-- <div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
  </div>
</div>  -->

<!-- <div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
    </app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div>  -->

<!-- begin:: Modal example -->
<!-- <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
